<section>
  <ul id="recent_posts" style="list-style-type: none;">
    <li class="post">
      <a href="{{ site.url }}" alt="Home"><img src="{{ root_url }}/images/Home.png" style="margin-right:20px;"></a>
      <a href="{{ site.url }}/archives/" alt="Archives"><img src="{{ root_url }}/images/Calendar.png" style="margin-right:20px;"></a>
      {% if site.email %}
      <a href="mailto:{{ site.email }}" alt="E-Mail"><img src="{{ root_url }}/images/Envelope.png" style="margin-right:20px;"></a>
      {% endif %}
      <a href="{{ site.url }}/atom.xml" alt="subscribe feed"><img src="{{ root_url }}/images/rss.png"></a>
    </li>
  </ul>
</section>
