<div class="hero" style="background-image: url('/images/Abstract-Texture-Blue.jpg');">
  <div class="grid-wrapper">
    <div class="grid flex">
      <div class="grid__item flex__item two-fifths palm-one-whole ">
        <img src="/images/robot_with_coffee.png" alt="RyBot welcomes you."{% if site.email and site.gravatar != false %} data-gravatar="{{ site.email }}"{% endif %}>
      </div>
      <div class="grid__item flex__item three-fifths palm-one-whole">
      {% include custom/welcome.html %}
      </div>
    </div>
  </div>

</div>
